@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .bg-gradient-horizontal {
    background: linear-gradient(284.6deg, #32353e -10.01%, #14171c 114.89%);
  }
  .bg-gradient-vertical {
    background: linear-gradient(180deg, #14171c 0%, #1c2025 100%);
  }
  .bg-gradient-secondary {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }

  .bg-gradient-input {
    background: linear-gradient(270deg, #2e2e2f 0%, #28292a 100%);
  }

  .book-shadow {
    filter: drop-shadow(-50px 4px 20px #00000080);
  }

  .user-page-container {
    @apply mx-auto w-full items-center px-16 pt-24 text-light-200 min-h-screen  max-w-7xl;
  }

  .user-input {
    @apply min-w-full border-none font-bold placeholder:font-normal text-light-900 placeholder:text-light-200 focus-visible:ring-0;
  }

  .button-primary {
    @apply min-h-[56px] bg-user-primary text-dark-800 hover:bg-user-primary !important;
  }
  .button-secondary {
    @apply min-h-[56px] bg-gradient-secondary text-user-primary hover:bg-gradient-secondary !important;
  }

  .button-accept {
    @apply min-h-[56px] bg-dashboard-approve-400 text-light-800 hover:bg-dashboard-approve-400 !important;
  }
  .button-deny {
    @apply min-h-[56px] bg-dashboard-deny-400 text-light-800 hover:bg-dashboard-deny-400 !important;
  }
}
