@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .bg-gradient-horizontal {
    background: linear-gradient(284.6deg, #32353e -10.01%, #14171c 114.89%);
  }
  .bg-gradient-vertical {
    background: linear-gradient(180deg, #14171c 0%, #1c2025 100%);
  }
  .bg-gradient-secondary {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }

  .bg-gradient-input {
    background: linear-gradient(270deg, #2e2e2f 0%, #28292a 100%);
  }
  .bg-gradient-hide {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 100%
    );
  }
  .book-shadow {
    filter: drop-shadow(-50px 4px 20px #00000080);
  }
  .section-header {
    @apply font-bebas-neue text-3xl max-sm:text-center;
  }
  .books-container {
    @apply flex flex-wrap gap-10 pt-8 max-sm:flex-col max-sm:items-center;
  }
  .user-input {
    @apply min-w-full border-none font-bold placeholder:font-normal text-light-900 placeholder:text-light-200 focus-visible:ring-0 focus-visible:shadow-none !important;
  }
  .button-primary {
    @apply min-h-[56px] bg-user-primary text-dark-800 hover:bg-user-primary !important;
  }
  .button-secondary {
    @apply min-h-[56px] bg-gradient-secondary text-user-primary hover:bg-gradient-secondary !important;
  }
  .button-accept {
    @apply min-h-[56px] bg-dashboard-approve-400 text-light-800 hover:bg-dashboard-approve-400 !important;
  }
  .button-deny {
    @apply min-h-[56px] bg-dashboard-deny-400 text-light-800 hover:bg-dashboard-deny-400 !important;
  }

  .table-header {
    @apply text-start font-normal text-dark-200;
  }
  .table-row {
    @apply flex flex-row items-center justify-start gap-2;
  }
  .table-text {
    @apply text-sm font-semibold text-dark-400;
  }
  .button-approve {
    @apply rounded-lg bg-dashboard-approve-100 px-3 py-2 font-semibold text-dashboard-approve-800;
  }
}
